# **Get Started with Python**

![download.png]()

**Integers and Float Data types**

If a number does not contain decimal it is consider as integer whereas otherwise it is consider as float.
Lets see some examples

In [ ]:
x = 10
print(type(x))

<class 'int'>

In [ ]:
y = 10.45
print(type(y))

<class 'float'>

**String Data type**


> Sequence of characters is called strings. They are often represented by "  " or '   '.
Let us see some examples

In [ ]:
s = print("Hello")

Hello

If we need to type sentence 


>Let's learn python with Kitty

The syntax will be

In [ ]:
s = "Let's learn python with kitty"
print(s)

Let's learn python with kitty

If we need to type sentence 


>'Get started with python' is a "good" tutorial by Kitty

The syntax will be

In [ ]:
s = ''''Get started with python' is a "good" tutorial by Kitty'''
print(s)

'Get started with python' is a "good" tutorial by Kitty

If we need to type sentence 


>'Get started with python' 

> is a 

> good tutorial by Kitty








The syntax will be

In [ ]:
s = """'Get started with python' 
is a
good tutorial by Kitty"""
print(s)

'Get started with python'
is a
good tutorial by Kitty

**Boolean Data Type**

Boolean data type in python only supports "True " or "False". *True* is internally represented as *1* whereas *False* is internally represented as *0*.

Let's us understand with an examples

In [ ]:
x = 10
y = 20
z = x > y

print(type(x))
print(type(y))
print(type(z))
print(z)

<class 'int'>
<class 'int'>
<class 'bool'>
False

**Arithmetic Operators and Integers**

There are 7 arithmetic operators availble in python. These are the following :


1. Addition (+)
1. Subtraction (-)
2. Multiplication (*)
1. Divison  (/)
2.  Modulus (%)
1.  Integer division (//)
2.  Exponential (**)

Let us see some examples of arithmetic operators !

In [ ]:
print(10+2)
print(2.0+3)
print(13-98)

12
5.0
-85

*In the above examples we observe that when both the operands are integers/ float, then the result is also integer/ float. Whereas when one of the operators is float then the result is also float.*

In [ ]:
print(10/2)
print(10.0/2)

5.0
5.0

*For division operator, we observe that the result is always float invariable of the type of operand.*

In [ ]:
print(15//4)
print(15//4.0)

3
3.0

**Input function()**

This is a user interactive function where the input is taken by the user. Let us see few examples to deploy this function.

In [4]:
x0 = input("get started with python is a good tutorial?")
print(x)

x1 = input("enter a value : ")
y1 = input ("enter a value :")
print(x1+y1)
print(type(x1))
print(type(y1))

get started with python is a good tutorial?yes
12
enter a value : 10
enter a value :20
1020
<class 'str'>
<class 'str'>

*We observe that rather than addition operation, we got concatenation of values entered. This is because the data type of input is string. The required addition can be done by changing the data type using python inbuilt function, Let us see an example.*

In [5]:
x1 = input("enter a value : ")
y1 = input ("enter a value :")
print(int(x1)+int(y1))
print(type(x1))
print(type(y1))

enter a value : 10
enter a value :20
30
<class 'str'>
<class 'str'>

*However, a more efficient approach would be to use **eval** **function** which implicitly convert the data into it data type.*

**Print function ()**

Let us understand how print function can be deployed to show how to display your results.

In [10]:
print('Hello \n Python')
print('Hello \t Python')
print('Hello'+ 'Python')
print('Hello'*5)

Hello
 Python
Hello 	 Python
HelloPython
HelloHelloHelloHelloHello